<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
<div class="message">
  <div id="messages" class="messages">
    <%= tag.div id: @conversation.id do%>
      <% if @conversation.messages.any? %>
        <% @conversation.messages.each do |m| %>
          <%= render m %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<%= render 'messages/message_form' %>
