App.room = App.cable.subscriptions.create {channel:"RoomChannel", conversation: <%=Conversation.last.id%> },
  connected: ->
    # Called when the subscription is ready for use on the server

  disconnected: ->
    # Called when the subscription has been terminated by the server

  received: (data) ->
    # Called when there's incoming data on the websocket for this channel
    if data.content?
      $("#"+data.conversation).append '<div class="message">' +
          '<div class="message-user">' + data.username + ":" + '</div>' +
          '<div class="message-content">' + data.content + '</div>' + '</div>'
          scroll_bottom(data.conversation)
      if data.activated?
        $("#liveChats").append '<a href="conversations/' +data.conversation + '" class="btn btn-primary btn-round btn-lg" id="conversation'+data.conversation+'">'+data.conversation+'</a>'
    if data.online?
      if data.online == true
        $("#conversation"+data.conversation).removeClass("btn-secondary").addClass("btn-primary")
      else if data.online == false
        $("#conversation"+data.conversation).removeClass("btn-primary").addClass("btn-secondary")


$(document).on 'turbolinks:load', ->
  submit_message()

submit_message = () ->
  $('#message_content').on 'keydown', (event) ->
    if event.keyCode is 13
      $('input').click()
      event.target.value = ""
      event.preventDefault()

scroll_bottom = (id) ->
  if $("#"+id)[0] != undefined
    $(".messages-table").scrollTop($('#'+id)[0].scrollHeight)
